<!DOCTYPE html>
<html>
    <head>
        <title>Google Analytics Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}"/>
    </head>
    <body>
        <div id="body-wrap">
            <h2 id="page-title">Google Analytics Data</h2>
            <br>
            <div id="tables-container">
                {% for period, date in timespans.items() %}
                <div class="single-table-container" id="{{ period }}">
                    <div class="table-header-container">
                        <h4 class="table-title">Past {{ period }} </h4>
                        <!--<h4 class="table-dates"> {{ formatted_timespans[period] }} - {{ end_date }} </h4>-->
                    </div>
                    <hr>
                    <table class="data-table">
                        {% for key, value in data[period].items() %}
                            <tr>
                                <th class="table-header"> {{ key }} </th>
                                <td class="table-item"> {{ value }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <h4>{{formatted_timespans[period]}} - Today</h4>
                </div>  
                {% endfor %}
            </div>
        </div>
    </body>
</html>